/* Globale silregler*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #c8ccd3;
    color: #313235;
}

/* Header og navigasjon */

header{
    background-color: #1e3a5f;
    padding: 2rem 1rem;
    /*padding: 1rem 2rem 3rem 4rem;*/
    /*padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 10rem;*/
    color: rgb(255, 255, 255);

        p {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    }

    nav{
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin: 20px; 
                a{
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: bold;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

/*header p {
font-size: 1.5rem;
font-weight: bold;
letter-spacing: 1px;
}*/


/* Hovedinnhold */

main{
    max-width: 900px;
    margin: 32px auto;
    padding: 0/*top og bottom*/ 1.5px/*left og right*/; 
}

article{
    background-color: #ffffff;
    border: 1px #dde3ea solid;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    h2{
        margin-top: 0;
        color: #1e3a5f; 
    }
}

aside{
    section{
        background-color: #ffffff;
        border: 1px solid #dde3ea;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        padding: 1rem 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        
    }
    h3{
        margin-top: 0;
        color: #1e3a5f;
        border-bottom: 2px solid #dde3ea;
        padding: 1rem 1.5;
        margin-bottom: 20px;
    }
}


/*footer og kontaktskjema*/

footer {
    background-color: #1e3a5f;
    color: #ffffff;
    padding: 1rem;
    margin-top: 2rem;

    label{
        margin: 0 0 4px;
        font-weight: bold;
        display: block;
        margin-top: 12px;
    }

    legend{
        font-weight: bold;
    }

    form{
        margin-top: 1rem;
        max-width: 400px;
    }

    input{
        width: 100%;
        padding: .5rem;
        margin-top: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #ffffff;
    }
}

/* Tabell */

table{
    width: 100%;
    background-color: #ffffff;
    box-sizing: o 2px 6px rgba(0, 0, 0, 0.2);
}

th, td{
    padding: 0.5rem 1rem 0;
    text-align: left;
    border-bottom: 1px solid #dde3ea;
}

tbody tr:nth-child(even){
    background-color: #555f6e;
}